:root { 
--black_900_7e:#0000007e; 
--red_600:#ce4848; 
--gray_200_7e:#ebebeb7e; 
--deep_purple_400:#694bdb; 
--gray_800_01:#3b3b3b; 
--black_900_01:#0d0c0f; 
--teal_500:#06aa8c; 
--black_900:#000000; 
--blue_gray_900:#252733; 
--gray_400:#c5c7cd; 
--blue_gray_100:#d0d0d0; 
--amber_400:#f3c522; 
--gray_800:#4a4a4a; 
--red_A100:#ff7777; 
--gray_900:#151718; 
--gray_900_01:#1e1f23; 
--amber_200:#ffdf90; 
--blue_gray_300_42:#a3abb942; 
--gray_200:#ebebeb; 
--gray_300:#e3e3e3; 
--gray_100:#f5f5f5; 
--teal_A400:#2bebc8; 
--black_900_99:#00000099; 
--gray_400_01:#b5b7b9; 
--white_A700:#ffffff; 
}