
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MuliRegular.ttf"); font-family : "Mulish"; font-weight : 400;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MulishRomanMedium.ttf"); font-family : "Mulish"; font-weight : 500;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MuliBold.ttf"); font-family : "Mulish"; font-weight : 700;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/MuliSemiBold.ttf"); font-family : "Mulish"; font-weight : 600;  }
 @font-face { font-display: swap; font-style : normal; src: url("assets/fonts/InterRegular.ttf"); font-family : "Inter"; font-weight : 400;  }